@model TutorsHub.Application.Models.SearchLogStats

@{
    ViewBag.Title = "StatisticsLog";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


    <script type="text/javascript">
        window.onload = function () {
            var subject = {
                 title: {
                   text: "Subject searched"
                 },
                 data: [{
                   type: "pie",
                     startAngle: 45,
                     showInLegend: "true",
                     legendText: "{label}",
                     indexLabel: "{label} ({y})",
                     yValueFormatString: "#,##0.#" % "",
                     dataPoints: [
                       @foreach (var subject in Model.Subjectstats)
                       {
                           <text> { label: "@subject.Key", y:@subject.Value }, </text>
                       }
                     ]

                 }]
            };

            var location = {
                 title: {
                   text: "Location searched"
                 },
                 data: [{
                   type: "pie",
                     startAngle: 45,
                     showInLegend: "true",
                     legendText: "{label}",
                     indexLabel: "{label} ({y})",
                     yValueFormatString: "#,##0.#" % "",
                     dataPoints: [
                       @foreach (var loc in Model.Locationstats)
                       {
                           <text> { label: "@loc.Key", y:@loc.Value }, </text>
                       }
                     ]

                 }]
            };

            var cls = {
                 title: {
                   text: "Class searched"
                 },
                 data: [{
                   type: "pie",
                     startAngle: 45,
                     showInLegend: "true",
                     legendText: "{label}",
                     indexLabel: "{label} ({y})",
                     yValueFormatString: "#,##0.#" % "",
                     dataPoints: [
                       @foreach (var kls in Model.Classstats)
                       {
                           <text> { label: "@kls.Key", y:@kls.Value }, </text>
                       }
                     ]

                 }]
            };

             var avgsal = {
                 title: {
                   text: "Class searched"
                 },
                 data: [{
                   type: "pie",
                     startAngle: 45,
                     showInLegend: "true",
                     legendText: "{label}",
                     indexLabel: "{label} ({y})",
                     yValueFormatString: "#,##0.#" % "",
                     dataPoints: [
                       @foreach (var sala in Model.AvgSalary)
                       {
                           <text> { label: "@sala.Key", y:@sala.Value }, </text>
                       }
                     ]

                 }]
            };

            var gdr = {
	        title: {
		    text: "Gender Searched"
	        },
	        data: [{
		        // Change type to "doughnut", "line", "splineArea", etc.
		    type: "column",
            dataPoints: [
                @foreach (var g in Model.Genderstats)
                    {
                       <text> { label: "@g.Key",  y: @g.Value  }, </text>
                    }
		      ]
	             }]
            };





            $("#subContainer").CanvasJSChart(subject);
            $("#locContainer").CanvasJSChart(location);
            $("#clsContainer").CanvasJSChart(cls);

            $("#gendContainer").CanvasJSChart(gdr);
            $("#salContainer").CanvasJSChart(avgsal);
        }
    </script>

</head>
<body>
    <br>
    <div class="row">
   
        <div class="col-lg-4">

            <div class="panel panel-info card">
                <div class="panel-body">
                    <div id="subContainer" style="height: 300px; width: 100%;"></div>

                </div>
            </div>
        </div>


        <div class="col-lg-4">

            <div class="panel panel-info card">
                <div class="panel-body">
                    <div id="locContainer" style="height: 300px; width: 100%;"></div>

                </div>
            </div>
        </div>

        <div class="col-lg-4">

            <div class="panel panel-info card">
                <div class="panel-body">
                    <div id="clsContainer" style="height: 300px; width: 100%;"></div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">

            <div class="panel panel-info card">
            
                <div class="panel-body">
                    <div id="salContainer" style="height: 300px; width: 100%;"></div>

                </div>
            </div>
        </div>

        <div class="col-lg-4">

            <div class="panel panel-info card">
                <div class="panel-body">
                    <div id="gendContainer" style="height: 300px; width: 100%;"></div>

                </div>
            </div>
        </div>
    </div>





</body>
</html>

