@model Entity.UserModels.Admin

@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style media="screen">
        .card {
            width: 500px;

        }

        .imga {
            width: 150px;
        }

        .right {
            font-size: 20px;
            width: 240px;
        }

    </style>

</head>
<body>
    <br>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-4">
            <div class="panel panel-info card">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-5" style="padding-right: 0px;width: 175px;">
                            <img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/14522999_10207289285486077_5577078775528197936_n.jpg?oh=b8dcfc83e1a314dc1d20e749553ae5ff&oe=5A91CA24" class="img-circle imga">
                        </div>
                        <div class="col-sm-4 right" style="padding-right: 0px;width: 255px;">
                            <p><strong>@Model.Name</strong></p>
                            <p><span class="glyphicon glyphicon-envelope"></span> @Model.Email</p>
                            <p><span class="glyphicon glyphicon-phone"></span> @Model.Mobilenumber</p>
                            <p><span class="glyphicon glyphicon-globe"></span> @Model.Address</p>
                            <div class="text-right">
                                @Html.ActionLink("Edit", "EditProfile", "Admin", null, new { @class = "btn btn-info" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>
</html>
