@using System.Web.UI.WebControls
@using Entity.UserModels

@model ATP2.Profile.Models.HomeModels.LoginModel

@{
    Layout = "~/Views/Shared/Public_Layout.cshtml";
    
}
<link href="~/Views/CSS/LoginPage.css" rel="stylesheet" type="text/css"/>
<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />

<fieldset>
    <legend>
        <b>LOGIN</b>
    </legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
    

        <div class="label">
            @Html.LabelFor(e => e.Email)
        </div>
        <div class="input-lg">
            @Html.EditorFor(e => e.Email)
        </div>
        <div class="label">
            @Html.LabelFor(e => e.Password)
        </div>
        <div class="input-lg">
            @Html.PasswordFor(e => e.Password)
        </div>

        <div style="color: red">
            @Html.ValidationSummary()
        </div>
        <hr/>
        
        <div >
            @Html.LabelFor(e => e.RememberMe)
            @Html.CheckBoxFor(e=>e.RememberMe)
            <input type="submit" value="Log In">
        </div>
        
        @Html.ActionLink("Forgot Password?", "ForgotPassword", "Home")
    }
        
        
      
       
      

</fieldset>