@model ATP2.Profile.Models.HomeModels.SearchModel
@{
    Layout = "~/Views/Shared/Public_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        form {
            margin: 0;
            background: #ffffff;
            width: 85%;
            margin: auto;
            padding: 30px;
            min-height: 93%;
        }

        header { margin: auto; }

        td {
            margin-bottom: 10px;
            padding: 10px;
        }

        input, select {
            border: 2px solid #4CAF50;
            padding: 5px;
            margin: 10px;
        }

        input, select:focus { outline: none; }

        select, option {
            font-weight: 700;
            margin-left: 10px;
        }

        #loginbtn {
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin-left: 10px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: #4CAF50;
            border: 2px solid #4CAF50;
            padding: 5px;
        }

        #loginbtn:hover {
            background-color: #4CAF50;
            color: white;
        }

        .salary {
            font-weight: 700;
            display: inline-block;
        }

        .pp {
            padding-left: 25px;
            padding-top: 10px;
        }

        .button {
            width: 55%;
            padding: 30px;
            text-align: center;
            font-size: 30px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
            background-color: #f4511e;
            color: #ffffff;
            font-weight: 700;
            transition: all 0.5s;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border: none;
        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .button:hover span { padding-right: 25px; }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }

        .button:active { transform: translateY(4px); }

        .button:focus { outline: none; }

        a {
            text-decoration: none;
            font-weight: 700;
        }

        a:hover { color: #f4511e; }

        .control-group {
            display: inline-block;
            text-align: left;
            vertical-align: top;
            background: #fff;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
        }

        .control {
            position: relative;
            display: block;
            padding-left: 30px;
            cursor: pointer;
            width: 150px;
            font-weight: 700;
            color: #4CAF50;
        }

        .control input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        .control__indicator {
            position: absolute;
            top: 0px;
            left: 0;
            width: 20px;
            height: 20px;
            background: #e6e6e6;
            border: 2px solid #4CAF50;
        }

        .control:hover input ~ .control__indicator,
        .control input:focus ~ .control__indicator { background: #ccc; }

        .control input:checked ~ .control__indicator { background: #2aa1c0; }

        .control:hover input:not([disabled]):checked ~ .control__indicator,

        .control input:checked:focus ~ .control__indicator { background: #0e647d; }

        .control input:disabled ~ .control__indicator {
            pointer-events: none;
            opacity: .6;
            background: #e6e6e6;
        }

        .control__indicator:after {
            position: absolute;
            display: none;
            content: '';
        }

        .control input:checked ~ .control__indicator:after { display: block; }

        .control--checkbox .control__indicator:after {
            top: 4px;
            left: 8px;
            width: 3px;
            height: 8px;
            transform: rotate(45deg);
            border: solid #fff;
            border-width: 0 2px 2px 0;
        }

        .control--checkbox input:disabled ~ .control__indicator:after { border-color: #7b7b7b; }
    </style>
</head>
<body>
<form method="post">
    <div align="center">
        <button name="SearchButton" class="button" type="submit">
            <span>Search</span>
        </button>
    </div>
    <br/>


    <div align="center">
        <select name="location">
            @foreach (var location in Model.Locations)
            {
                <option value="@location.Name">@location.Name</option>
            }
           

        </select>

        <select name="sex">
            <option value="Male" style="width: auto">Male</option>
            <option value="Female" style="width: auto">Female</option>
            <option value="Any" style="width: auto">Any</option>

        </select>

        <select name="class">
        
            @for (var i = 1; i <= 12; i++)
            {
                <option value="@i" style="width: auto">class @i</option>
            }


        </select>
        <div class="salary">
            <label>Salary</label> min<input type="text" name="min" size="5" value="3000"/>-
            <input type="text" name="max" size="5" value="10000"/>max
        </div>
    </div>



    <div align="center">
            <b style="color: #0e647d">Subjects</b>
            <table style="padding-left: 18%">
            @foreach (var subject in Model.Subjects)
            {
                <td class='control-group'><label class='control control--checkbox'><input type='checkbox' name="@subject.Name" value="@subject.Name">@subject.Name<div class='control__indicator'></div></label></td>
            }
            </table>
    </div>


        <table align="center" width="500" cellspacing="1"  border="2">
            <tr>
                <td width="100">
                    <img width="50" height="50" class="card-img-top" src="~/image/user.png" alt="Card image">
                </td>
                <td width="300">
                    <label class="card-title">Name: Sajib Hawee</label><br />
                    <label class="card-text">Subject: English</label> <br />
                    <label class="card-text">Salary: 3000</label> <br />
                    <label class="card-text">Gender: Male</label>
                </td>
                <td>
                    <a href="#" class="btn btn-primary">View</a><br />
                </td>

            </tr>
           
        </table>
            
            


</form>
</body>

</html>
