@model Entity.UserModels.Student
@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script>
        function viewImage() {
            document.getElementById("ImagePlaceHolder").src = document.getElementById("imageUrl").value;
            console.log("Called");
            return false;
        }

    </script>
</head>
<body>
<form method="post">
<div style="background-color: white; margin: 0px 50px; padding: 5px">
    <div class="col-sm-6" style="border: 1px solid green; padding: 15px">
        <div class="form-group">
            <label>Name : </label>
            <input name="Name" type="text" class="form-control" id="firstName" value="@Model.Name">
            <br/>
            <br/>
            <label>Email : </label>
            <input name="Email" type="email" class="form-control" id="email" value="@Model.Email" disabled="disabled">
            <br/>
            <label>Phone : </label>
            <input name="MobileNumber" type="text" class="form-control" id="phone" value="@Model.Mobilenumber">
            <br/>
            <label>Location : </label>
            <input name="Location" type="text" class="form-control" id="location" value="@Model.Location">
        </div>
    </div>
    <div class="col-sm-4" style="border: 1px solid green; margin-left: 20px; height: 420px; padding: 20px">


        <input name="ProfilePictureUrl" type="text" placeholder="paste you image url" id="imageUrl" class="form-control" value="@Model.ProfilePictureUrl"/><br/>
        <button class="btn btn-info" onclick="return viewImage()">View</button>
        <hr/>
        <img src="@Model.ProfilePictureUrl" id="ImagePlaceHolder" style="height: 250px; width: 300px;"/>



    </div>
    <div class="col-sm-4" style="padding: 20px; margin-left: 40px">
        <button type="submit" class="btn btn-info" style="float: right">Save</button>
    </div>
</div>
    
</form>
</body>
</html>
