@using Entity.UserModels
@model List<Entity.UserModels.Tutor>

@{
    ViewBag.Title = "ViewSearch";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}





<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body>
    <div class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-10">
            <div class="panel panel-info card">
                <div class="panel-heading">
                    <strong>SEARCH RESULT</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-2">

                        </div>
                        @foreach (Tutor tutor in Model)
                        {
                            <div class="col-lg-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading text-center">
                                        <div class="list-inline">


                                            <strong>@tutor.Name</strong>

                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-3">

                                            </div>
                                            <div class="col-sm-6">
                                                <img class="img-fluid img-circle" src="@tutor.ProfilePictureUrl">
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-lg-2">

                                            </div>

                                            <div class="col-lg-8 text-center">
                                                @foreach (var subject in tutor.PreferredSubjects)
                                                {
                                                    <span class="glyphicon glyphicon-book"></span><label>@subject</label><br>
                                                }


                                                <button type="button" class="btn btn-success">@tutor.ExpectedSalary TK/HRS</button>
                                                <br> <br>

                                                <form method="post" action="/Student/ViewProfile">
                                                    <button name="key" type="submit" class="btn btn-primary" value="@tutor.Email"> View Profile</button>

                                                </form>


                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        }





                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>



