@model Entity.UserModels.Tutor

@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}



<html>
<head>
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=.9">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-lg-8">

            <div class="panel panel-primary">
                <div class="panel-heading">

                    @Html.ActionLink("Back to Search", "SearchResult", "Home", null, new { @class = "my-class" })

                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="well well-sm" style="background-color:#5bc0de;">
                                Personal Info
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-rouunded" src="@Model.ProfilePictureUrl" style="height:100%;width:100%">
                        </div>
                        <div class="col-lg-5">
                            <div class="row">
                                <div class="col-4">
                                    <label>Name:</label> @Model.Name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label>Current Status:</label> <span style="color:green;"><strong>Active</strong></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label>Member Since:</label> <abbr title="1/12/2015">@Model.MemberSince</abbr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label>Last Active:</label> @Model.LastLogin
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label>Level:</label> <span class="glyphicon glyphicon-star"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label>Experience:</label> 5 Years
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="well well-sm" style="background-color:#5bc0de;">
                                Tution Info
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <table>
                                <tr>
                                    <td><label>Expected Salary: </label></td>
                                    <td>@Model.ExpectedSalary TK/HRS</td>
                                </tr>
                                <tr>
                                    <td><br></td>
                                </tr>
                                <tr>
                                    <td><label>Preferred Medium: </label></td>
                                    @for (int i = 0; i < Model.PreferredMedium.Count; i++)
                                    {
                                        <td><label class="form-control btn-success">@Model.PreferredMedium[i]</label></td>
                                    }

                                </tr>
                                <tr>
                                    <td><br></td>
                                </tr>
                                <tr>
                                    <td><label>Preferred Classes: </label></td>
                                    @for (int i = 0; i < Model.PreferredClasses.Count; i++)
                                    {
                                        <td><label class="form-control btn-success">@Model.PreferredClasses[i]</label></td>
                                    }

                                </tr>
                                <tr>
                                    <td><br></td>
                                </tr>
                                <tr>
                                    <td><label>Preferred Subjects: </label> </td>
                                    @for (int i = 0; i < Model.PreferredSubjects.Count; i++)
                                    {
                                        <td><label class="form-control btn-success">@Model.PreferredSubjects[i]</label></td>
                                    }

                                </tr>

                                <tr>
                                    <td><br></td>
                                </tr>
                                <tr>
                                    <td><label>Preferred Areas: </label> </td>
                                    @for (int i = 0; i < Model.PreferredLocations.Count; i++)
                                    {
                                        <td><label class="form-control btn-success">@Model.PreferredLocations[i]</label></td>
                                    }

                                </tr>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>




</body>
</html>
