@model TutorsHub.Application.Models.TutorEditProfileModel
@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        function viewImage() {
            document.getElementById("ImagePlaceHolder").src = document.getElementById("imageUrl").value;
            console.log("Called");
            return false;
        }

    </script>
</head>
<body>
        <div style="background-color:white; margin:0px 50px; padding:5px">
            <div class="col-sm-6" style="border:1px solid green; padding:15px">
                <div class="form-group">
                    
                    <div style="display: inline-block">
                        <img src="~/images/user.png" id="ImagePlaceHolder" style="height:250px;" />
                    </div>
                    <div style="display: inline-block">
                        <input   type="text" placeholder="paste you image url" id="imageUrl" class="form-control" />
                        <button class="btn btn-info" onclick="viewImage(this)">View</button>
                    </div>

                  <br/>
                    <label>Name : </label>
                    <input name="Tutor.Name" type="text" class="form-control" id="firstName" value="@Model.Tutor.Name">
                    <br/>
                    <label>Email : </label>
                    <input name="Tutor.Email" type="email" class="form-control" id="lastName" disabled="disabled" value="@Model.Tutor.Email">
                    <br/>

                    <label>Mobile : </label>
                    <input name="Tutor.Mobile" type="text" class="form-control" id="phone" value="@Model.Tutor.Mobilenumber">
                    <br/>
                    <label>Expected Salary(tk/Hours)</label>
                    <input type="text" class="form-control" id="salary" value="@Model.Tutor.ExpectedSalary"/>
                    
                    <br />
                    <label>Address</label>
                    
                    <input name="Tutor.Address" type="text" class="form-control"  value="@Model.Tutor.Address" />
                </div>
            </div>

            <div class="col-sm-5" style="border:1px solid green; margin-left:10px; padding:15px">

            

                <div class="form-group">
                    <strong>
                        Current Status : <br />
                    </strong>
                    <input type="radio" name="gender" value="Available"> <label>Available</label> <br>
                    <input type="radio" name="gender" value="NotAvailable"><label> Not Available</label> <br>
                </div>

                <strong>Preferred Medium : </strong>
                <br />
                <input type="checkbox" name="pref_sub" value="sub2"><label>Bangla</label>
                <input type="checkbox" name="pref_sub" value="sub2"><label>English</label>
                <br /><br />

                <strong>Preferred Location : </strong>
                <br />
                
                @for(int i=0;i<Model.AvailableLocations.Count;i++){
                    
                    @Html.HiddenFor(x=>Model.AvailableLocations[i].Id)
                    @Html.CheckBoxFor(x=>Model.AvailableLocations[i].IsChecked)
                    @Html.DisplayFor(x => Model.AvailableLocations[i].Name)
                    @Html.HiddenFor(x => Model.AvailableLocations[i].Name)
                }

               
                
                <br />
                <br />
                <strong>Preferred Classes: </strong>
                <br />

                @{
                    for (int i = 1; i <= 12; i++)
                    {
                        <input type="checkbox" name="pref_sub" value="class-@i" /> <label>Class @i</label>
                    }
                }


                <div class="text-right">
                    <a href="/Tutor/ViewProfile" class="btn btn-info">Save</a>
                </div>

            </div>

        </div>
</body>
</html>

