@model List<Entity.QuestionModels.ExamQuestion>

@{
    ViewBag.Title = "QuestionPaper";
    Layout = "~/Views/Shared/TutorLayout.cshtml";
}

<html>
<head>
    <style>
        div.pp {
            padding-left: 25px;
            padding-top: 10px;
        }

        .button {
            background-color: #277ec8;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 14px;
            padding: 16px;
        }

        .button1 {
            background-color: #1f9609;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 16px;
            padding: 16px;
        }
        .questions{
            border: groove;
            font-size:20px;
            margin-left:2px;
        }
        .quesion{
            font-size:25px;
        }
        .options{
            margin-left:5px;
        }
        .lav{
            margin-left:15px;
        }
        .box{
            border: groove;
        }
    </style>

</head>
<body>

<form method="Post">

    <fieldset>
        <legend >
            <text name="Subject">
                @ViewBag.Exam
            </text>
           
        </legend>
        
      

        <div class="questions">
            @for (var i=0; i<Model.Count; i++)
            {
            <div class="box">
                <div name="Questions" class="quesion">
                    <label>@Model[i].Q</label>
                    <br>
                </div>
                @Html.HiddenFor(m=>Model[i].Id)
                @Html.RadioButtonFor(m => Model[i].Answer, Model[i].A)
                @Html.Label(Model[i].A)
                @Html.RadioButtonFor(m => Model[i].Answer, Model[i].B)
                @Html.Label(Model[i].B)
                @Html.RadioButtonFor(m => Model[i].Answer, Model[i].C)
                @Html.Label(Model[i].C)
                @Html.RadioButtonFor(m => Model[i].Answer, Model[i].D)
                @Html.Label(Model[i].D)
                
            </div>
            }
            


            <div align="center">
                <button name="SubmitButton" class="button1" style="width: 100px;">Submit</button>

            </div>
        </div>
    </fieldset>

</form>
</body>

</html>

