@model TutorsHub.Application.Models.SearchViewModel

@{
    ViewBag.Title = "Tutor Search";
    Layout = "~/Views/Shared/Public_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
    <form action="/Home/SearchResult" method="post">
    <div class="row">
        <div>
            <label>Location</label>
            @Html.DropDownList("Location",new SelectList(Model.Locations,"Name","Name"), new{@class="btn btn-success"})
           
            <label>Gender</label>
            <select name="Gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Any">Any</option>
            </select>
            <label>Class</label>
            @Html.DropDownList("Class", new SelectList(Model.Classes, "Name", "Name"), new { @class = "btn btn-success" })
        </div>
    </div>

    <div class="row" style="padding-top:10px;">
        <div>
            <input type="number" class="form-control" name="minSal" placeholder=" Minimum Salary"> -
            <input type="number" class="form-control" name="maxSal" placeholder="Maximum Salary">
        </div>
    </div>
    <br>
    <div class="row">
       
                    @for (int i = 0; i < Model.Subjects.Count; i++)
                    {
                        @Html.HiddenFor(x=>Model.Subjects[i].Id)
                        @Html.CheckBoxFor(x=>Model.Subjects[i].IsChecked)
                        @Html.DisplayFor(x => Model.Subjects[i].Name)
                        @Html.HiddenFor(x => Model.Subjects[i].Name)
                    }
    </div>
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-3">
           
             <input type="submit" />  
            
         </div>
    </div>
    </form>
    
</body>
</html>
