@model ATP2.Profile.Models.AccountModels.EditProfileModel

@{
    if (true)
    {
        Layout = "../Shared/Loggedin_Layout_Tutor.cshtml";
    }
    else
    {
        Layout = "../Shared/Loggedin_Layout.cshtml"; 
    }
}
<!DOCTYPE html>

<html>
<style>

  
    h1,h2
    {
        color: #4CAF50;
    }
    label
    {
        width:130px;
        clear:left;
        text-align:left;
        padding-right:10px;
        padding-bottom:10px
    }
    input, label
    {
        float:left;
        margin-bottom: 10px;
    }
    #left
    {
        width: 50%;
    }
    #gender
    {
        width: 100%;
        float: left;
    }
    .box {
        width: 0%;
        margin: auto;
    }
    .btn
    {
        padding: 20px;
        margin: 20px;
        font-weight: 700;
        font-size: 20px;
        transition-duration: 0.4s;
        background-color: #4CAF50;
        color: white;
        border: 2px solid #4CAF50;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .btn:hover {
        background-color: white;
        color: black;
    }
    #bck
    {
        margin: 0;
    }
    input , textarea, #image
    {
        border: 2px solid #4CAF50;
    }
    input[type='text'] , textarea, #image
    {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    input[type='text']
    {
        padding: 5px;
    }
    input[type='checkbox']
    {
        margin-top: 5px;
    }
    label
    {
        padding: 10px;
    }
    input , textarea, #img_submit:focus{
        outline: none;
    }
    #img_submit
    {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-left: 10px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
        padding: 5px;
    }
    #img_submit:hover {
        background-color: #4CAF50;
        color: white;
    }
    .control-group {
        display: inline-block;
        text-align: left;
        vertical-align: top;
        background: #fff;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
    }
    .control {
        position: relative;
        display: block;
        padding-left: 30px;
        cursor: pointer;
        width: 120px;
    }
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .control__indicator {
        position: absolute;
        top: 10px;
        left: 0;
        width: 20px;
        height: 20px;
        background: #e6e6e6;
        border: 2px solid #4CAF50;
    }
    .control--radio .control__indicator {
        border-radius: 50%;
    }
    .control:hover input ~ .control__indicator,
    .control input:focus ~ .control__indicator {
        background: #ccc;
    }
    .control input:checked ~ .control__indicator {
        background: #2aa1c0;
    }
    .control:hover input:not([disabled]):checked ~ .control__indicator,
    .control input:checked:focus ~ .control__indicator {
        background: #0e647d;
    }
    .control input:disabled ~ .control__indicator {
        pointer-events: none;
        opacity: .6;
        background: #e6e6e6;
    }
    .control__indicator:after {
        position: absolute;
        display: none;
        content: '';
    }
    .control input:checked ~ .control__indicator:after {
        display: block;
    }
    .control--checkbox .control__indicator:after {
        top: 4px;
        left: 8px;
        width: 3px;
        height: 8px;
        transform: rotate(45deg);
        border: solid #fff;
        border-width: 0 2px 2px 0;
    }
    .control--checkbox input:disabled ~ .control__indicator:after {
        border-color: #7b7b7b;
    }
    .control--radio .control__indicator:after {
        top: 7px;
        left: 7px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
    }
    .control--radio input:disabled ~ .control__indicator:after {
        background: #7b7b7b;
    }
</style>


<body>

<form method="Post">
    
    <fieldset>
    <legend>
        <b>Edit Profile</b>
    </legend>
    <div class="container">



        <div align="center">

            <table style="width: 100%">

                <tr>
                    <td id="left">

                        <!-- Image url -->

                        <img id="image" src="../../image/user.png" width="150" height="150"/>
                        <br><br>
                        <label> Image URL </label>
                        <input type="text" name="image_URL" value=""/>
                        <button id="img_submit">View</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Name </label>
                        <input type="text" name="name" value="" size="25"/>
                        <label> Email </label>
                        <input type="text" name="email" value="" size="25"/>
                        <label> Phone No. </label>
                        <input type="text" name="phone" value="" size="25"/>
                        <label> Address </label>
                        <input type="text" name="address" value="" size="25"/>
                        <div id="gender">
                            <table>
                                <label> Gender</label>
                                <tr>
                                    <td class="control-group">
                                        <label class="control control--radio"><input type="radio" name="gender" value="Male">Male
                                            <div class="control__indicator"></div></label>
                                    </td>
                                    <td class="control-group">
                                        <label class="control control--radio"><input type="radio" name="gender" value="Female">Female
                                            <div class="control__indicator"></div></label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <h2 align="left">Additional </h2>

        <div align="left">
            <table>
                <tr>
                    <td>
                        <label> Bio </label>
                        <textarea name="bio" cols="27" rows="5">@*Bio*@</textarea>
                        <br>
                    </td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <label> Currtent Status </label>
                    <td>
                        <input type="text" name="status" value="" size="25"/>
                    </td>
                </tr>
            </table>
            <br>
            <table>
                <label> Preferred Medium </label>
                <tr>
                    <td class="control-group">
                        <label class="control control--radio"><input type="radio" name="medium" value="Bangla">
                            <span> Bangla </span>
                            <div class="control__indicator"></div></label>
                    </td>
                    <td class="control-group">
                        <label class="control control--radio"><input type="radio" name="medium" value="English">
                            <span> English </span>
                            <div class="control__indicator"></div></label>
                    </td>
                    <td class="control-group">
                        <label class="control control--radio"><input type="radio" name="medium" value="Both">
                            <span> Both </span>
                            <div class="control__indicator"></div></label>
                    </td>
                </tr>
            </table>
            <br>
            <table style="width: auto">
                <label style="width: auto">Preferred Locations </label>
                <tr>
                @for (int i = 1; i <= 12; i++)
                {
                    <td class='control-group'><label class='control control--checkbox'><input type='checkbox' name="@i" value="@i">class @i<div class='control__indicator'></div></label></td>
                }
            </table>
            <br>
            <table style="width: auto">
                <label> Preferred Subject </label>
                <tr>
                    @for (int i = 1; i <= 12; i++)
                    {
                        <td class='control-group'><label class='control control--checkbox'><input type='checkbox' name="@i" value="@i">class @i<div class='control__indicator'></div></label></td>
                    }
                </tr>
            </table>
            <br>
            <table style="width: auto">
                <label> Preferred Classes </label>
                <tr>
                @for (int i = 1; i <= 12; i++)
                {
                    <td class='control-group'><label class='control control--checkbox'><input type='checkbox' name="@i" value="@i">class @i<div class='control__indicator'></div></label></td>
                }

            </table>
            <br>
            <table>
                <label> Expected Salary </label>
                <tr>
                <td>
                    <input type="text" name="salary" value="" size="20"/> <span> /hour </span>
                </td>
                <tr>
            </table>
        </div>
        <br>
        <br>
        <div class="box">
            <input class="btn" type="submit" value="Save">
        </div>
    </div>
        
    </fieldset>
</form>
    

</body>
</html>
