
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap.min.css" />
    <style>
        .dropdown:hover .dropdown-menu {
            display: block;
        }

        .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
            margin-top: 0;
        }   
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse" style="border-radius: 0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" >Tutors Hub</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Account
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Dashboard","AdminDashboard", "Account")</li>
                        <li>@Html.ActionLink("View Profile", "AdminProfile", "Account")</li>
                        <li>@Html.ActionLink("Edit Profile", "EditProfile", "Account")</li>
                        <li>@Html.ActionLink("Change Password", "EditPassword", "Account")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        User
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Search", "UserSearch", "Account")</li>
                        <li>@Html.ActionLink("Create New", "CreateNew", "User")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Data Control
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Question Paper", "QuestionPaper", "Data")</li>
                        <li>@Html.ActionLink("Locations", "Locations", "Data")</li>
                        <li>@Html.ActionLink("Subjects", "Subjects", "Data")</li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Report
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Statistics Report", "StatisticReport","Report")</li>
                        <li>@Html.ActionLink("Activity", "ActivityReport", "Report")</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <span class="alert alert-success">Logged As @Session["UserName"]</span>
                @Html.ActionLink("Log Out","Index","Home" )
                </ul>
        </div>
    </nav>
    <div>
        <table width="100%" align="center" cellspacing="0" cellpadding="10" border="0">
            <tr>
                <td>
                    @RenderBody()
                    <br /><br /><br />
                </td>
            </tr>
            <tr>
                <td style="position:fixed;bottom:0;width:100%;text-align:center;">
                    Copyright &copy; 2017
                </td>
            </tr>
        </table>

    </div>
    
</body>
</html>
