
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Public_Layout</title>
</head>
<body>
    <div>
        <table width="100%" align="center" cellspacing="0" cellpadding="10" border="1">
            <tr>
                <td colspan="2" valign="middle" height="70">
                    <table width="100%">
                        <tr>
                            <td>
                                <a href="#">
                                    <img height="48" src="~/Views/image/logo.png">
                                </a>
                            </td>
                            <td align="right">
                                Logged in as <a href="#">@Session["UserName"]</a>&nbsp;|
                                @Html.ActionLink("Logout", "Index", "Home")
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="190" valign="top">
                    <b>&nbsp;Account</b><hr />
                    <ul>
                        <li>@Html.ActionLink("DashBoard", "Dashboard", "Home")</li>
                        <li>@Html.ActionLink("View Profile", "UserProfile", "Home")</li>
                        <li>@Html.ActionLink("Edit Profile", "EditProfile", "Home")</li>
                        <li>@Html.ActionLink("Change Profile Picture", "ProfilePicture", "Home")</li>
                        <li>@Html.ActionLink("Change Password", "EditPassword", "Home")</li>
                        <li>@Html.ActionLink("Logout", "Index", "Home")</li>
                    </ul>
                </td>
                <td valign="top">
                        @RenderBody()
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    Copyright &copy; 2017
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
