

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Public_Layout</title>
</head>
<body>
<div>
    <table width="100%" align="center" cellspacing="0" cellpadding="10" border="1">
        <tr>
            <td valign="middle" height="70">
                <table width="100%">
                    <tr>
                        <td>
                            <a href="#">
                                <img height="48" src="../image/logo.png">
                            </a>
                        </td>
                        <td align="right">
                            @Html.ActionLink("Home", "Index", "Home")
                            @Html.ActionLink("Login", "Login", "Home")
                            @Html.ActionLink("Search", "Search", "Home")
                            @Html.ActionLink("Registration", "Registration", "Home")
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center">
                @RenderBody()
                <br/><br/><br/>
            </td>
        </tr>
        <tr>
            <td align="center">
                Copyright &copy; 2017
            </td>
        </tr>
    </table>
</div>
</body>
</html>
